
export(in_degree)
export(out_degree)
export(in_strength)
export(out_strength)
export(SNAOUT)
export(SNAIN)
export(plot_SNA_OUT)
export(plot_SNA_IN)
export(R_absorb)
export(R_disperse)
export(data)
importFrom("graphics", plot)


